include navbar

doctype html
html
  head
    title= title
block content
    h1(id="aboutUs") About Us
    h2(id="ourMission") Our Mission
    div(id="ourMissionContent")
      p Checkfirst is created by a group of 6 college students through TechPoint S.O.S Challenge with the mission of finding a solution to make events, hotels, and tourism attractions safer or more reliable during COVID. Checkfirst is where you can find information about COVID precautions and how hotels, events venues, restaurants, etc can protect you while you are enjoying your time there. More importantly, you can also find reviews from the community about those places which can come very handy. Because of COVID-19, more than 200 conventions have canceled to date, with the horizon fuzzy on how meetings and events are held in the future. Many hotels, restaurants, museums, and bars are on the verge of closing permanently. Therefore, this project can not only help you, but small businesses and organizations who are trying hard every day to survive and at the same time keep visitors safe. 
    h2(id="ourTeam") Our Team
    h2(id="proTeam") Team Pro- (Juhwan P., Sean W., Vy H.)
    div
      img(src="/images/Juhwan.PNG" alt="juhwan" id="juhwanPic")
      img(src="/images/Sean.jpg" alt="sean" id="seanPic")
    h2(id="goTeam") Team Go- (Evan D., Brenton S., Lindsey S.)  
    div
      img(src="/images/Evan.jpg" alt="evan" id="evanPic")
      img(src="/images/Brenton.jpg" alt="brenton" id="brentonPic")
    div
      img(src="/images/SOSlogo.jpg" alt="soslogo" id="sosLogo")
    div
      img(src="/images/indy.jpg" alt="indy" id="indyPic")

      
    
    