include navbar

doctype html
html
  head
    title= title
block content
    h1 Add Business
    form(method="post", action= "/addBusiness")
        input(name="businessName", type="text", placeholder="Business Name")
        br
        input(name="phoneNumber", type="text", placeholder="Business Phone Number")
        br
        input(name="businessAddress", type="text", placeholder="Business Address")
        br
        text Business Type: 
        input(type="radio", name="businessType", value="Museums")
        | Museums
        input(type="radio", name="businessType", value="Hotels")
        | Hotels
        input(type="radio", name="businessType", value="Events")
        | Events
        input(type="radio", name="businessType", value="Others")
        | Other
        br
        input(type="text", name="businessIntro", placeholder="Please enter an introduction about your business", size="100")
        br
        input(type="text" ,name="covidPrevention", placeholder="Please enter information on how your team is handling covid", size="100")
        br
        button(type="submit") Submit 
include footer