include navbar

doctype html
html
  head
    title= title
block content
    h1 Events
    ul
        each event, i in events
            a(href="/events/" + event._id , class='tourismList' )= event.businessName
include footer