doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
      footer(class="modal-footer" )
        ul(class="footer")
            lia(class = "navbar")
                a(href="/addBusiness") Add Business
            lia(class = "navbar")
                a(href="/") About S.O.S. Challenge
            lia(class = "navbar")
                a(href="/" id="logout") About Team