include navbar

doctype html
html
  head
    title= title
block content
    h1 Hotels
    ul
        each hotel, i in hotels
            a(href="/hotels/" + hotel._id , class='tourismList' )= hotel.businessName
include footer