include landingPageNavbar
doctype html
html
head
title= title


block content
body(id="landingPage")
    div(id="landingPageTop")
        h2 The best way to be safe from COVID-19
        h1 Don't risk it. Checkfirst.
        form( method="post", action="/search", id="homeSearchBar")
            input(name="name" type="text" placeholder="Where are you going?" size="50")
            input(name="location" type="text" placeholder="Location" size="30")
            button(type="submit") Search
        br
        div(id="homeCategorieIcons")                                                                 
        br
        div(id="homeCategorieButtons")
            lia(class="categorie")
                a(href="/businesses/Museums") Museums
                    img(src="/images/Museums.png" alt="museums" id="iconOne")
            lia(class="categorie")
                a(href="/businesses/Hotels") Hotels 
                    img(src="/images/Hotels.png" alt="hotels" id="iconOne")
            lia(class="categorie")
                a(href="/") Restaurants
                    img(src="/images/Restaurant.png" alt="restaurant" id="iconOne")
            lia(class="categorie")
                a(href="/") Hiking
                    img(src="/images/Hikings.png" alt="hikings" id="iconOne") 
            lia(class="categorie")
                a(href="/businesses/Events") Events
                     img(src="/images/Events.png" alt="events" id="iconOne") 
            lia(class="categorie")
                a(href="/businesses/Others") Other
                    img(src="/images/others.png" alt="others" id="iconOne")
    div(id="whiteLandingPage")
        p This will be the information about the page
    div(id="lightBlueLanding")
        p Covid Updates
        img(src="/images/tempPhoto.png" alt="emptyPic" id="imageIcon")
        img(src="/images/tempPhoto.png" alt="emptyPic2" id="imageIcon2")
        img(src="/images/tempPhoto.png" alt="emptyPic3" id="imageIcon3")
    div( id="whiteLandingPage")
        p Business of the Week
        img(src="/images/tempPhoto.png" alt="emptyPic3" id="imageIcon")
        p About the Buisness
    div(id="lightBlueFooter")
        a(herf="/aboutUs") About Us




