include navbar
doctype html
html
head
title= title


block content
    div(id="landingPage")
        h2 The best way to be safe from COVID-19
        h1 Don't risk it. Checkfirst.
        input(placeholder="Find  Where are you going?")
        input(placeholder="Near Location")
        button(type="submit") Search
            lia(class="categorie")
                a(href="/businesses/Museums") Museums
            lia(class="categorie")
                a(href="/businesses/Hotels") Hotels
            lia(class="categorie")
                a(href="/") Restaurants
            lia(class="categorie")
                a(href="/") Hiking
            lia(class="categorie")
                a(href="/businesses/Events") Events
            lia(class="categorie")
                a(href="/businesses/Others") Other
    div(id="lowerLandingPage")
        p This will be the information about the page

include footer


