include navbar
doctype html
html
head
title= title


block content
        h6 The best way to be safe from COVID-19
        h1 Don't risk it. Checkfirst.
        h2
        input(placeholder="Find  Where are you going?")
        input(placeholder="Near Location")
        button(type="submit") Search
        div(id="categories")
            lia(class="categorie")
                a(href="/restaurants") Restaurants
            lia(class="categorie")
                a(href="/museums") Museums
            lia(class="categorie")
                a(href="/hiking") Hiking
            lia(class="categorie")
                a(href="/hotels") Hotels
            lia(class="categorie")
                a(href="/events") Events
            lia(class="categorie")
                a(href="/others") Other
        div
            p This will be the information about the page

include footer


