include navbar
doctype html
html
  head
  title= title

block content
        p The best way to be safe from COVID-19
        h1 Don't risk it. Check first.
        a(href="/signIn" id='signIn') Sign In
        div
            input(placeholder="Search")
        div(id="categories")
            lia(class="categorie")
                a(href="/museums") Museums
            lia(class="categorie")
                a(href="/hotels") Hotels
            lia(class="categorie")
                a(href="/events") Events
            lia(class="categorie")
                a(href="/others") Other
        div
            p This will be the information about the page

include footer


