include navbar
doctype html
html
head
title= title


block content
    div(id="landingPage")
        h2 The best way to be safe from COVID-19
        h1 Don't risk it. Checkfirst.
        form(action="/", method="post", id="homeSearchBar")
            input(type="text" placeholder="Where are you going?" size="50")
            input(type="text" placeholder="Location" size="30")
            button(type="submit") Search
        br
        div(id="homeCategorieIcons")
            img(src="/Images/Museums.png" alt="museums" id="iconOne")
            img(src="/Images/Hotels.png" alt="hotels" id="iconOne")            
            img(src="/Images/Restaurant.png" alt="restaurant" id="iconOne")             
            img(src="/Images/Hikings.png" alt="hikings" id="iconOne")             
            img(src="/Images/Events.png" alt="events" id="iconOne")
            img(src="/Images/others.png" alt="others" id="iconOne")
        br
        div(id="homeCategorieButtons")
            lia(class="categorie")
                a(href="/businesses/Museums") Museums
            lia(class="categorie")
                a(href="/businesses/Hotels") Hotels
            lia(class="categorie")
                a(href="/") Restaurants
            lia(class="categorie")
                a(href="/") Hiking
            lia(class="categorie")
                a(href="/businesses/Events") Events
            lia(class="categorie")
                a(href="/businesses/Others") Other
    div(id="lowerLandingPage")
        p This will be the information about the page

include footer


