include navbar
doctype html
html
head
title= title


block content
    div(id="landingPage")
        h2 The best way to be safe from COVID-19
        h1 Don't risk it. Checkfirst.
        form(action="/", method="post", id="homeSearchBar")
            input(type="text" placeholder="Where are you going?" size="50")
            input(type="text" placeholder="Location" size="30")
            button(type="submit") Search
        br
        div(id="homeCategorieIcons")                                                                 
        br
        div(id="homeCategorieButtons")
            lia(class="categorie")
                a(href="/businesses/Museums") Museums
                    img(src="/Images/Museums.png" alt="museums" id="iconOne")
            lia(class="categorie")
                a(href="/businesses/Hotels") Hotels 
                    img(src="/Images/Hotels.png" alt="hotels" id="iconOne")
            lia(class="categorie")
                a(href="/") Restaurants
                    img(src="/Images/Restaurant.png" alt="restaurant" id="iconOne")
            lia(class="categorie")
                a(href="/") Hiking
                    img(src="/Images/Hikings.png" alt="hikings" id="iconOne") 
            lia(class="categorie")
                a(href="/businesses/Events") Events
                     img(src="/Images/Events.png" alt="events" id="iconOne") 
            lia(class="categorie")
                a(href="/businesses/Others") Other
                    img(src="/Images/others.png" alt="others" id="iconOne")
    div(id="blankLandingPage")
    div(id="lightBlueLanding")
        img(src="/Images/pictureIcon.png" alt="emptyPic" id="imageIcon")
        img(src="/Images/pictureIcon.png" alt="emptyPic2" id="imageIcon2")
        img(src="/Images/pictureIcon.png" alt="emptyPic3" id="imageIcon3")
        img(src="/Images/pictureIcon.png" alt="emptyPic4" id="imageIcon4")
        img(src="/Images/pictureIcon.png" alt="emptyPic5" id="imageIcon5")
        
    div(id="lowerLandingPage")

        p This will be the information about the page

include footer


