include navbar
doctype html
html
  head
  title= title

block content
        p The best way to be safe from COVID-19
        h1 Don't risk it. Checkfirst.
        div
            input(placeholder="Search")
        div(id="categories")
            lia(class="categorie")
                a(href="/businesses/Museums") Museums
            lia(class="categorie")
                a(href="/businesses/Hotels") Hotels
            lia(class="categorie")
                a(href="/businesses/Events") Events
            lia(class="categorie")
                a(href="/businesses/Others") Other
        div
            p This will be the information about the page

include footer


