include layout.pug

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/navbar.css')
block content
    ul
        lia
            a(href="/") Home Page
        lia
            a(href="/signUp") Sign Up
        lia
            a(href="/signIn") Sign In