include layout

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/SOS_CSS.css')
    script(src='/javascripts/buttons.js')
    
block content
    body(onload ="buttonDisplay()")
    ul(class="navbar")
        lia(class="navbar")
            a(href="/") Home Page
        lia(class="navbar")
            a(href="/myAccount") My Account
        lia(class="navbar")
            a(href="/logout" id="logout") Logout