include layout.pug

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/navbar.css')
block content
    ul
        lia
            a(href="/") Home Page
        lia
            a(href="/myAccount") My Account
        lia
            a(href="/logout") Logout