include layout

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/SOS_CSS.css')
    script(src='/javascripts/buttons.js')
    
block content
    body(onload ="buttonDisplay()")
    ul(class="navbar")
        lia(class="navbar")
            a(href="/aboutUs") About us
        lia(class="navbar")
            a(href="/myAccount") My profile
        lia(class="navbar")
            a(href="/SignUp") Sign up/Sign in