include navbar

doctype html
html
  head
    title= title
block content
    h1 Sign Up
    form(method="post", action= "/signUp")
        input(name="email", type="email", placeholder="Enter Email")
        input(name="password", type="password", placeholder="Enter New Password")
        button(type="submit") Sign Up