include navbar

doctype html
html
  head
    title= title
block content
    h1 Sign In
    form(method="post", action= "/signIn")
        input(name="email", type="email", placeholder="Enter Email")
        br
        input(name="password", type="password", placeholder="Enter Password")
        br
        button(type="submit") Sign In
        lia
            a(href="/signUp" class="tourismList") Not a user? Sign up!
include footer