include navbar

doctype html
html
  head
    title= title
block content
    h4(id="signInUp") Sign In
    form(method="post", action= "/signIn")
        div(id="signInPage")
            input(name="email", type="email", placeholder="Enter Email")
            br
            input(name="password", type="password", placeholder="Enter Password")
            br
        div(id="signInButton")    
            button(type="submit") Sign In
    br
    div(id="notAUser")
        lia
            a(href="/signUp" class="tourismList") Not a user? Sign up!