/*businesses CSS*/
.tourismList{
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 38px;
    
}

/* navbar CSS*/

body ul.navbar{
    background-color: #194769;
    text-align: right;
    padding-bottom: 1%;
}

body ul lia.navbar{
    margin: 1%;
}

#navbarOne{
    width:7%;
    height:7%; 
}

/* landing page CSS */

#landingPage{
    height: 300%;
}
#landingPageTop{
    background-color: #194769;
    margin-top: -4%;
    padding: 3%;
}

#whiteLandingPage{
    color: #194769;
    height: 33%;
    background-color: white;
}

#lightBlueLanding{
    color: #194769;
    height: 30%;
    background-color: rgb(123, 218, 255);
}

#lightBlueFooter{
    border: 30px solid white;
    color: #194769;
    height: 10%;
    background-color: rgb(123, 218, 255);

    text-align: center;
}

.categorie{
    padding: 2%;
}

div h2{
    color: white;
}

#homeSearchBar{
    margin-top: -2%;
    text-align: center;
}

#homeCategorieButtons{
    margin-top: 1%;
    margin-bottom: 2%;

    text-align: center;
}

#homeCategorieIcons{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: -1%;
    margin-right: -1%;
}

#iconOne{
    width: 2%;
    height: 3%;
}
#imageIcon{
    display: block;
    float: left;
    margin: 2%;
    width:300px;
    height: 300px;
}
#imageIcon2{
    float: right;
    margin: 2%;
    width:300px;
    height: 300px;
}
#imageIcon3{
    float: right;
    margin: 2%;
    width:150px;
    height: 150px;
}

/* buttons and a and input boxes*/
lia a:hover{
    text-decoration: none;   
}

input{
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

/* signin page */
#signInPage{
    position: absolute;
    width: 534px;
    height: 61px;
    left: 493px;
    top: 296px;
    box-sizing: border-box;
    font-size: 28px;
    text-align: center;
}

#signInButton{
    position: absolute;
    width: 169px;
    height: 56px;
    left: 715px;
    top: 440px;
    text-align: left;
    opacity: 0.6;
    border-radius: 14.83px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 35px;

    color: #FFFFFF;
}
#notAUser{
    position: absolute;
    width: 463px;
    height: 35px;
    left: 540px;
    top: 536px;
    font-family: American Typewriter;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.3em;
    color: #ED6230;
}

/* sign up page */
#signUpPage{
    position: absolute;
    width: 534px;
    height: 61px;
    left: 510px;
    top: 296px;
    box-sizing: border-box;
    font-size: 28px;
    text-align: center;
}
#signUpButton{
    position: absolute;
    width: 169px;
    height: 56px;
    left: 715px;
    top: 540px;
    text-align: left;
    opacity: 0.6;
    border-radius: 14.83px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 35px;

    color: #FFFFFF;
}

/*Businesses Page*/

#businessPage{
    background-color:rgb(123, 218, 255);
    color: #000000;

    text-align: center;
    font-size: 100px;
    margin-top: -20px;
    padding-bottom: 30px;
}

#businessesList{
    text-align: center;
}

#businessesPhoto{
    width:100px;
    height: 100px;
}