/* navbar CSS*/

body ul.navbar{
    background-color: #194769;
    text-align: right;
    padding-bottom: 1%;
}

body ul lia.navbar{
    margin: 1%;
}

#navbarOne{
    width:7%;
    height:7%; 
}

/* landing page CSS */

#landingPage{
    height: 300%;
}
#landingPageTop{
    background-color: #194769;
    margin-top: -4%;
    padding: 3%;
}

#whiteLandingPage{
    color: #194769;
    height: 33%;
    background-color: white;
}

#lightBlueLanding{
    color: #194769;
    height: 30%;
    background-color: rgb(123, 218, 255);
}

#lightBlueFooter{
    border: 30px solid white;
    color: #194769;
    height: 10%;
    background-color: rgb(123, 218, 255);

    text-align: center;
}

.categorie{
    padding: 2%;
}

div h2{
    color: white;
}

#homeSearchBar{
    margin-top: -2%;
    text-align: center;
}

#homeCategorieButtons{
    margin-top: 1%;
    margin-bottom: 2%;

    text-align: center;
}

#homeCategorieIcons{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: -1%;
    margin-right: -1%;
}

#iconOne{
    width: 2%;
    height: 3%;
}
#imageIcon{
    display: block;
    float: left;
    margin: 2%;
    width:300px;
    height: 300px;
}
#imageIcon2{
    float: right;
    margin: 2%;
    width:300px;
    height: 300px;
}
#imageIcon3{
    float: right;
    margin: 2%;
    width:150px;
    height: 150px;
}

/* buttons and a and input boxes*/
lia a:hover{
    text-decoration: none;   
}

input{
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

/* signin page */
#signInPage{
    text-align: center;
}

#signInButton{
    text-align: center;

    color: #FFFFFF;
}
#notAUser{
    text-align: center;
    color: #ED6230;
}

/* sign up page */
#signUpPage{
    text-align: center;
}
#signUpButton{
    color: #FFFFFF;
    text-align: center;
}

#signInUp{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
/*Businesses Page*/
.tourismList{
    padding: 38px;
}

#businessPage{
    background-color:rgb(123, 218, 255);
    color: #000000;

    text-align: center;
    font-size: 100px;
    margin-top: -20px;
    padding-bottom: 30px;
}

#businessesList{
    text-align: left;
}

#businessesPhoto{
    width:100px;
    height: 100px;
}
.businessBox{
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 2%;
    width: 800px;
}

#results{
    padding: 10px;
    margin-bottom: 20px;
    color: black;
}

/*Single Business Page*/
#singleBusinessTitle{
    color: #000000;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
}

#singleBusinessReview{
    margin-left: 50px;
    color: #000000;
}

.businessInformation{
    color: #000000;
}

#singleBusinessPictures{
    margin: 2%;
    width:200px;
    height: 200px;
}

div.businessInformation p{
    padding: 10px;
}

.businessInformationHeader{
    color: #ED6230;
}

.businessContactInfo{
    color: black;
    float: right;
}

div.businessContactInfo p{
    padding: 8px;
}