/*Search page CSS*/
.tourismList{
    padding: 2%;
}

/* navbar and footer CSS */
body.ul.navbar{
        text-align: left;
}

body ul.navbar{
    background-color: #194769;
    text-align: right;
    padding: 2%;
}

body ul.footer{
    background-color: #194769;
    text-align: center;
    padding: 1%;
}

body ul lia.navbar{

    margin: 1%;
}
lia a:hover{
    text-decoration: none;   
}

footer{
    /* Used from https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/*/
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;
}

/* landing page CSS */
div{
    text-align: center;
}

#categories{
    margin: 3%;
}

.categorie{
    padding: 2%;
}

#landingPage{
    margin: 3%;
    background-color: #194769;
}